<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" metadata-complete="false" version="3.1">
  
  <servlet>
    <servlet-name>Redirecao</servlet-name>
    <servlet-class>control.Redirecao</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Redirecao</servlet-name>
    <url-pattern>/redirecao</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>UpDel</servlet-name>
    <servlet-class>control.UpDel</servlet-class>
    <multipart-config>
        <!-- enter your values -->
        <max-file-size>4294967296</max-file-size> 
        <max-request-size>4294967296</max-request-size>
        <file-size-threshold>0</file-size-threshold>
    </multipart-config>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>UpDel</servlet-name>
    <url-pattern>/updel</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>RedirDown</servlet-name>
    <servlet-class>control.RedirDown</servlet-class>
  </servlet>
  
  <servlet>
  	<description>
  	</description>
  	<display-name>RedirCadastro</display-name>
  	<servlet-name>RedirCadastro</servlet-name>
  	<servlet-class>control.RedirCadastro</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>GetUsuario</display-name>
  	<servlet-name>GetUsuario</servlet-name>
  	<servlet-class>control.GetUsuario</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>RedirDown</servlet-name>
    <url-pattern>/redirdown</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>RedirCadastro</servlet-name>
  	<url-pattern>/redircadastro</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetUsuario</servlet-name>
  	<url-pattern>/getusuario</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>